﻿body
{
	margin:1;
	background:#ffffff;
	font-family:Tahoma;
	font-size:12px;
	font-style:normal;
}
tr,td
{
	vertical-align:middle;	
}
.show_header
{
	background-color:#507CD1;
	vertical-align:middle;
	color:#FFFFFF;
	font-weight:bold;
	text-align: center;
}
.show_header_table
{
	background-color:#507CD1;
	vertical-align:middle;
	color:#FFFFFF;
	font-weight:bold;
}
.odd
{
	background-color:#EFF3FB;
}
.even
{
	background-color:#FFFFFF;
}
.default
{
	border: 1px solid Black;
	font-family:Tahoma;
		font-size:12px;
		font-style:normal;
		height: 16px;
}
.default_auto
{
	border: 1px solid Black;
	font-family:Tahoma;
		font-size:12px;
		font-style:normal;
		height: 16px;
		background-color:#999999;
}
.default_botton
{
	border: 1px solid White;
	font-family:Tahoma;
		font-size:12px;
		font-style:normal;
		font-weight:bold;
		color:#FFFFFF;
		height: 20px;
		background-color:#3366CC;
}

.border_color
{
	border-color:Black;
	border-style:ridge;
	border-width:thin;
}

.header_field
{
	height:25px;
}

.money
{
	text-align:right;
}

a:link { 
	color:#0066FF;
	}
a:visited { 
	color:#0066FF;
	}
a:hover { 
	color:#339966;
	text-decoration: none;
	}
a:active { 
	color:#339966;
}