﻿body
{
	margin:1;
	background:#ffffff;
	font-family:Tahoma;
	font-size:12px;
	font-style:normal;
}
.header
{
	color:#000;
	font-weight:bold;
}

.money
{
	text-align:right;
}

a:link { 
	color:#0066FF;
	text-decoration: none;
	}
a:visited { 
	color:#0066FF;
	text-decoration: none;
	}
a:hover { 
	color:#339966;
	text-decoration: none;
	}
a:active { 
	color:#339966;
	text-decoration: none;
}